*
!*/
!*.cs
!*.uxml
!*.shader
!*.gitignore
!*.inputactions
!*.asmref
!*.mat
!*.png
!*.fbx
!*.prefab
/z_imports
/zports
/Temp
/Library
/Obj
/UnityGenerated
/Build
/Builds
/*.sln
/Assembly-CSharp.csproj
*.suo
*.user
*.userprefs
*.blend1
*.blend1.meta